<div class="grey">
	<div class="row">
		<div class="col-xs-6">
			Participa en los comentarios
		</div>
		<div class="col-xs-6">
			<%= @article.comments.count  %>
			comentario(s)
		</div>
	</div>
	<div>
		<%= render "comments/form"%>  <!-- Me redirecciona al form de comments, para crear el comentario -->
	</div>
	<div class="to-space">
		<%= render @article.comments %> <!-- Render de coleccion, para mostrar los comentarios -->
	</div>
</div>